<!DOCTYPE html>
<html>

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div id="app">
    <div class="wrapper" v-if="visible">
      <div class="ui">
        <div class="job">
          {{ jobDetails.jobName }}
        </div>
        <div class="progression" v-if="maxLevel">
          <span class="maxLevel">
            <i class="fa-regular fa-stars"></i>
            Max Level
            <i class="fa-regular fa-stars"></i>
          </span>
        </div>
        <div class="progression" v-else>
          <span class="level"> {{ jobDetails.level }} </span>
          <progress id="xpbar" :value="currentXpPercentage" max="100">{{ jobDetails.totalXp }}</progress>
          <span class="level">{{ jobDetails.nextLevel }}</span>
        </div>
      </div>
    </div>
    <div class="jobui-wrapper" v-if="jobuiVisible">
      <div class="container">
        <hr class="top-line" />
        <a class="close" @click="closeUI()">x</a>
        <div class="title">
          Employment Center
        </div>
        <hr class="bottom-line" />
        <div class="row row-cols-3 overflow-auto">
          <template v-for="job in jobs">
            <div class="col">
              <div class="card" style="width: 18rem;">
                <h5 class="card-title">
                  {{ job.job_name }}
                </h5>
                <p class="card-text overflow-auto">{{ job.desc }}</p>
                <a class="btn" @click="selectJob(job)" v-if="!job.active">
                  Select
                </a>
                <a class="btn job-active" @click="quitJob(job)" v-else>Quit</a>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

<!-- Import your JS app and JS Vendor (vue.js) -->
<script src="vendor/vue.js"></script>
<script src="app.js"></script>
<script src="https://kit.fontawesome.com/1d524b27dc.js" crossorigin="anonymous"></script>